.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background: var(--bg-secondary-color);
  background-blend-mode: multiply;
  padding: 10px 25px;
}

.logo-container {
  width: 64px;
  height: 64px;

  background-color: var(--bg-primary-color);
  border-radius: 50%;
}

.logo {
  width: 60px;
}

.header > .header-link {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-link:hover img,
.header-link:focus img {
  opacity: .5;
}

@media (max-width: 600px) {
  .logo-container {
    width: 32px;
    height: 32px;
  }

  .logo {
    width: 30px;
  }
}