.scene-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;

  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.rocket {
  position: absolute;
  z-index: 1;

  pointer-events: none;

  animation: animate 0.2s ease infinite;
  transition: 0.1s;

}

.rocket img {
  width: 210px;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(-52px) translateX(-50%);
  }
  50% {
    transform: translateY(-48px) translateX(-50%);
  }
}

.rocket::before {
  content: '';

  width: 60px;
  height: 70px;
  
  position: absolute;
  bottom: 28px;
  left: 26%;
  z-index: 1;

  transform: translateX(-50%);

  background: linear-gradient(var(--thruster-primary-color), transparent);
  filter: blur(20px);

}
.rocket::after {
  content: '';

  width: 60px;
  height: 70px;
  
  position: absolute;
  bottom: 28px;
  left: 26%;
  z-index: 1;

  transform: translateX(-50%);

  background: linear-gradient(var(--thruster-primary-color), transparent);
  filter: blur(20px);
}

.scene-container:active .rocket::before,
.scene-container:active .rocket::after {
  background: linear-gradient(--thruster-secondary-color, transparent);
  filter: blur(40px);
}

.moon {
  display: block;
  align-self: flex-start;

  z-index: 0;

  margin-left: auto;
}

@media (max-width: 600px) {
  .moon {
    margin-top: 45px;
    width: 240px;
  }

  .rocket img {
    width: 100px;
  }

  .rocket::before {
    width: 60px;
    height: 35px;
    
    bottom: 18px;
    left: 35%;

    filter: blur(15px);
  
  }
  .rocket::after {
    width: 60px;
    height: 35px;
    
    bottom: 18px;
    left: 35%;
  
    filter: blur(15px);
  }
  
  .scene-container:active .rocket::before,
  .scene-container:active .rocket::after {
    filter: blur(25px);
  }
}